# Created by and for Mac OS
.DS_Store

# Created by RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
*.Rproj

# Created for VSCode
.vscode
*.code-workspace

# Created for local R
.Rprofile

